* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}
body {
  overflow-x: hidden;
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('images/image-7.jpg');
  background-size: cover;
  background-position: top;
}
.hero__background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5));
}
.hero__text {
  position: absolute;
  color: azure;
  /* font-size: xx-large; */
  bottom: 3rem;
  left: 1rem;
}

.biography {
  padding: 10rem 0;
  background: black;
  color: azure;
  display: grid;
  place-items: center;
  word-wrap: break-word;
}

.biography__heading {
  margin: 1.4rem 0;
}
.biography p {
  font-size: 1.3rem;
}
.quote-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgb(226, 225, 225);
  padding-top: 2rem;
}
.quote-1 .texts {
  font-size: x-large;
  display: grid;
  place-items: center;
}

@media (max-width: 875px) {
  .quote-1 {
    grid-template-columns: 1fr;
  }
}
.biography__read {
  color: wheat;
  font-size: 1.4rem;
  text-decoration: none;
}

.biography__read span {
  background: #ffcc00;
  color: black;
  border-radius: 50%;
  padding: 2px 3px;
}
